
<header>
    <h1><span style="font-family: vulputate;">ADMIN</span></h1>
  </header>
  <div class="page">
    <div class="wrapper">
      <div class="sidebar">
        <ul>
            <li>
                <a  routerLink=""routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="item">Home</span>
                </a>
            </li>
            <li>
                <a routerLink="route">
                    <span class="icon"><i class="fas fa-desktop"></i></span>
                    <span class="item">Route Details</span>
                </a>
            </li>
            <li>
                <a routerLink="fee">
                    <span class="icon"><i class="fas fa-user-friends"></i></span>
                    <span class="item">Fee Details</span>
                </a>
            </li>
          </ul>
      </div>
    </div>
  </div>
  
  label.